@charset "utf-8";

.page_intro {
  margin-bottom: 50px;
}
.benefit_list {
  display: flex;
  gap: 20px;
}
.benefit_item {
  display: flex;
  align-items: center;
  flex: 1;
  gap: 20px;
  padding: 24px;
  border: 1px solid var(--main-bg);
  border-radius: 12px;
}
.benefit_item img {
  width: 80px; height: 80px;
}
.guide_list {
  padding: 20px;
}
.guide_list li {
  margin-bottom: 10px;
  border-bottom: 2px solid var(--main-bg);
}
.link_list {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-decoration: underline;
  color: var(--main-color);
}
@media (max-width: 1024px) {
  .benefit_list {
    flex-direction: column;
  }
}
