@charset "utf-8";

@font-face {
  font-family: 'FlightSans';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2410-1@1.0/FlightSans-Regular.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'FlightSans';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2410-1@1.0/FlightSans-Bold.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: 'FlightSansTitle';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2410-1@1.0/FlightSans-Title.woff2') format('woff2');
  font-weight: normal;
  font-display: swap;
}

/* common */
:root {
  --main-color: #FF5000;
  --sub-color: #ff51002c;
  --text-mian: #000;
  --text-sub: #555;
  --main-bg: #eee;
  font-size: 10px;
  scroll-behavior: smooth;
}
body {
  font: 1.6rem/1.7 'FlightSans', sans-serif;
  color: var(--text-sub);
}
a {
  color: var(--text-sub);
}
p {
  font-size: 1.5rem;
}
/* .main_nav.fixed + section {
  margin-top: 90px;
} */
section {
  margin: 80px 0 60px;
}
.inner {
  width: 1400px;
  margin: 0 auto;
}
h1,
.color {
  color: var(--main-color);
}
input:focus,
input:focus-visible {
  outline: none;
}
input {
  caret-color: var(--main-color);
}
input[type="radio"] {
  accent-color: var(--main-color);
}
.input_box input:focus {
  border-bottom: 2px solid var(--main-color);
}
.more_btn {
  width: 140px;
  height: 42px;
  border-radius: 22px;
  margin-top: 20px;
  color: #fff;
  border: 1px solid #fff;
  background: transparent;
  cursor: pointer;
  transition: .3s;
}
.more_btn:hover {
  color: var(--main-color);
  background: #fff;
}
.allmore_btn {
  width: 140px;
  height: 42px;
  border-radius: 22px;
  margin-top: 20px;
  text-align: center;
  line-height: 42px;
  color: var(--text-sub);
  border: 1px solid var(--text-sub);
  background: transparent;
  cursor: pointer;
  transition: .3s;
}
.allmore_btn:hover {
  color: var(--main-color);
  border: 1px solid var(--main-color);
}
.basic_btn {
  display: block;
  padding: 6px 90px;
  background: var(--main-color);
  color: #fff;
  text-align: center;
  border-radius: 12px;
  margin: 24px auto;
}
.basic_btn:hover {
  color: var(--main-color);
  background: var(--sub-color);
  border: 1px solid var(--main-color);
}

/* reset */
* {
  box-sizing: border-box;
}
html, body, div, span, iframe,
h1, h2, h3, h4, h5, h6, p, pre, a,
img, strong, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, tr, th, td,
footer, header,
nav,
audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}
ol, ul {
	list-style: none;
}
a {
  text-decoration: none;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  vertical-align: middle;
}
button {
  border: none;
  background: transparent;
  cursor: pointer;
}
input {
  background: transparent;
  border: none;
  outline: none;
}
address {
  font-style: normal;
}