@charset "utf-8";

#footer_wrap {
  background-color: var(--main-bg);
  padding: 50px 0 40px;
}
/* footer_top */
.footer_top {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 60px;
  margin-bottom: 40px;
  padding-bottom: 40px;
  border-bottom: 1px solid #d0d0d0;
}
.footer_link h4 {
  margin-bottom: 20px;
  color: var(--text-mian);
}
.footer_link ul li {
  margin-bottom: 12px;
}
.footer_link ul li a {
  font-size: 1.4rem;
  transition: color 0.2s;
}
.footer_link ul li a:hover {
  color: var(--main-color);
  text-decoration: underline;
}
/* footer_bottom */
.footer_bottom {
  position: relative;
  display: flex;
  justify-content: space-between;
}
.company_info h3 {
  margin-bottom: 20px;
  color: var(--text-mian);
}
.company_details {
  line-height: 1.8;
}
.copyright {
  margin-top: 20px;
}
/* link container */
.link_container {
  text-align: right;
}
.sns_link img {
  width: 30px; height: 30px;
  border-radius: 8px;
  margin: 0 8px;
}
.qr_link {
  display: flex;
  align-items: flex-end;
}
.qr_link img {
  width: 80px; height: 80px;
  margin: 60px 0 0 20px;
}