@charset "utf-8";

.intro_left,
.intro_right {
  display: flex;
  justify-content: space-between;
  align-items: end;
  gap: 40px;
  margin-bottom: 20px;
}
.intro_text,
.intro_image_container {
  flex: 1;
}
.intro_image_container {
  height: 300px;
}
/* ceo */
.ceo_intro_section .content_wrapper {
  display: flex;
  gap: 40px;
  padding: 50px 0;
}
.intro_text_area {
  flex: 2;
  padding-top: 20px;
}
.eco_ideas_list {
  display: flex;
  gap: 20px;
}
.eco_idea_item {
  flex: 1;
  padding: 15px;
  margin-top: 20px;
  border-top: 3px solid var(--main-bg);
}
.eco_idea_item h3 {
  margin-bottom: 10px;
}
.eco_idea_item img {
  object-fit: contain;
}
.activity_list {
  display: flex;
  gap: 40px;
  margin: 0 auto;
  text-align: center;
}
.activity_list > div {
  padding: 15px 5px;
  border-top: 3px solid var(--sub-color);
}