@charset "utf-8";

.recruit_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0;
  border-radius: 12px;
  padding: 20px 24px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  cursor: pointer;
}
.recruit_item:hover {
  border: 1px solid var(--main-color);
}
.recruit_img {
  position: relative;
}
.recruit_img::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.25);
}
.recruit_text {
  position: absolute;
  left: 30px; top: 85%;
  transform: translateY(-50%);
  width: 100%;
  color: #fff;
  z-index: 1;
}
.recruit_left {
  flex: 1;
}
.recruit_left span {
  display: inline-block;
  color: #ff6a00;
  font-weight: 600;
  margin-bottom: 6px;
}
.recruit_title {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 10px;
}
.recruit_info {
  display: flex;
  gap: 14px;
  margin-top: 8px;
}
.recruit_right {
  text-align: right;
  min-width: 120px;
}
.d_day {
  font-weight: 700;
  color: #ff6a00;
  margin-bottom: 6px;
}
.date {
  font-size: 13px;
}